<% provide(:map, 'map') %>
<h1>
  Welcome <%= @user.name %>, Safe Travels
</h1>

<div id="map-canvas"></div>

<div class="map-save">
  <div style="height: 30px">
    Traffic
    <% if @map.traffic? %>
      <input type="checkbox" id="check_t" name="check_t" onclick="toggle_t();" checked>
    <% else %>
      <input type="checkbox" id="check_t" name="check_t" onclick="toggle_t();">
    <% end %>
    Weather
    <% if @map.weather? %>
      <input type="checkbox" id="check_w" name="check_w" onclick="toggle_w();" checked>
    <% else %>
      <input type="checkbox" id="check_w" name="check_w" onclick="toggle_w();">
    <% end %>

    <div style="float:right;">
      <a href="#" class="btn btn-success" onClick="window.location.reload()"><i class="icon-white icon-refresh"></i></a>
    </div>
  </div>

  <%= form_for (@map) do |f| %>

    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
    <%= f.hidden_field :zoom %>
    <%= f.hidden_field :traffic %>
    <%= f.hidden_field :weather %>

    <%= f.submit "Update Map", class: "btn btn-primary" %>
  <% end %>
</div>

<%= javascript_tag do %>
  function toggle_t()
  {
    if(document.getElementById('check_t').checked)
      document.getElementById('map_traffic').value = 't';
    else
      document.getElementById('map_traffic').value = 'f';
  }

  function toggle_w()
  {
    if(document.getElementById('check_w').checked)
      document.getElementById('map_weather').value = 't';
    else
      document.getElementById('map_weather').value = 'f';
  }
<% end %>
