<% provide(:map, 'map') %>
<h1>
  <%= @user.name %>, <%= @user.email %>
</h1>

<div id="map-canvas"></div>

<div class="map-save">
  <%= form_for(@user) do |f| %>

    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
    <%= f.hidden_field :zoom %>

    <%= f.submit '<i class="icon-white icon-map-marker"></i> Save Location', class: "btn btn-large btn-primary" %>
  <% end %>
</div>
